@import url("reset.css");
@import url("globallink.css");
/* Clear Fix */ 
.clearfix:after { 
content:"."; 
display:block; 
height:0; 
clear:both; 
visibility:hidden; 
} 
.clearfix { 
display:inline-block; 
} 
/* Hide from IE Mac \*/ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */ 

body{
	width: 100%;
	text-align: center; 
	background: #f1f1f1 url("/images/public/bg3.png") repeat-x;
	font-size: 12px;
	font-family: Tahoma,Verdana,STHeiTi,simsun,sans-serif;
	
}
#wrapper{
	text-align: center; 
}
#header{
/*	background:url("/images/public/bg0.png") no-repeat top center; */
	height: 90px;
	position: relative;
	text-align: center;
	
}
#body{
	margin: 0px auto; 
	width: 1012px;min-height: 490px;
	padding:0px 5px;
	background-color:  #ffffff;
	text-align: left;
	padding-top: 6px;
	border-top: 1px solid;
	border-color: #81af1d; 
}
#footer{
	margin-top: 10px;
	width: 100%;height: 30px;
	background:url("/images/public/footer0.png") repeat-x;
	padding-top:8px ;
}

/* ERROR MESSAGE */
.errorExplanation{
	border: 2px solid #ff000d;
	margin:3px;
}
.errorExplanation h2{
	color: #ffffff;
	font: bold 14px 黑体; 
	background-color:#ff000d;
	padding:4px;	
}
.errorExplanation ul{
	list-style-type: decimal; 
	margin: 3px 0px 3px 20px;
}
.errorExplanation li{
	line-height: 18px; 
}
/* END -- ERROR MESSAGE */


/* paginate BEGIN*/
/*分页*/
.digg_pagination {
	font-size: 12px;
  background: white;
  margin: 10px 0px 0px 10px;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .digg_pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #003;
      border-color: #003; }
  .digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child+html .digg_pagination {
    overflow: hidden; }
/* paginate END */
a.username_link{
	color: #29830a; 
}

/*copyright */
#copyright{

}

/* comments */
.new_comment{
	clear: both; 
}
.new_comment textarea{
	width: 350px;height: 40px; 
	margin-right: 8px;
}
.new_comment input{
	width: 40px;height: 40px; 
	float:right;
}
.comment{
	clear: both;
	margin-top: 5px;
}
.comment .avatar{
	float: left; 
}
.comment .body{
	float: left;
	padding: 3px;
	margin-left: 5px;
}

.comment .list_body{
	float: left;
}
.comment li{
	 font-size	: 12px;
	background-color: #e5ffc1; 
	margin-left:50px ;
	width:500px;
	padding: 5px;	
	margin-top: 5px;
}




