@import url("reset.css");
body{
	width: 100%;
	text-align: center; 
	background: #f1f1f1 url("/images/public/bg1.png") repeat-x;
	
}
#wrapper{
	text-align: center; 
}
#header{
	background:url("/images/public/bg0.png") no-repeat top center;
	height: 112px;
}
#body{
	margin: 10px auto 0px auto; 
	width: 1002px;min-height: 490px;
	background-color:  #ffffff;
	text-align: left;
	background-image: url(/images/public/design_bg0.png);
}
#footer{
	width: 100%;height: 30px;
	background:url("/images/public/footer0.png") repeat-x;
}