<%= stylesheet 'users'%>
<div id="signup">
	<div id="signup_main">
		<div id="signup_flow">
			<%= image_tag("/images/users/signup_flow.png")%>
		</div>
		<%= render :partial => 'form',:local=>@user %>

	</div>
	<div id="signup_side">
		
	</div>
	

</div>
