<ul>
				<li><%= link_to '状态',user_states_path(@user)%></li>
				<li><%= link_to '日志',user_posts_path(@user)%></li>
				<li><%= link_to '相册',root_url%></li>
				<li><%= link_to '留言板',root_url%></li>
			</ul>