<%= stylesheet 'home'%>
<div id="home" class="clearfix">
	
	<div id="side">
		<div id="sub_link">
			<ul>
				<li>状态</li>
				<li>日志</li>
				<li>相册</li>
				<li>留言板</li>
			</ul>
		</div>
	</div>
	
	<div id="main">
		
	</div>
	
</div>