<%= stylesheet 'states','home'%>
<%= javascript 'jquery/jquery.corner','home'%>
<div id="home" class="clearfix">
	
	<div id="side">
		<div id="sub_link">
			<%= render :partial => 'sub_link' %>
		</div>
	</div>
	
	<div id="main" class="clearfix">
		<div id="home-body">
			<div id="state_box">
				<%= render :partial => 'state_panel' %>
			</div>
		</div>
		<div id="home-side">
			asd
		</div>
	</div>
	
</div>