<%title "#{@user.username}的个人主页"%>
<%= stylesheet 'profile'%>
<div id="profile">
	<div id="profile_info">
		
	</div>
	<div id="profile_main">
		<div id="profile_title">
			
		</div>
		<div id="profile_body">

		</div>
		<div id="profile_side">

		</div>
	</div>
	
</div>