<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<title><%= h(yield(:title) || "E-lover 异地恋感情社区") %></title>
  <%= stylesheet_link_tag 'core' %>
  <%= yield(:head) %>

</head>
<body>
	<div id="wrapper">
		<div id="header">
		
		</div>
		<div id="body">
			<%= yield%>
		</div>
	
		<div id="footer">
		adsf
		</div>
	</div>
	
</body>
</html>